<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
			<rules>
				<rule  name="Angular Routes" stopProcessing="true">
					<match url="*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="./index.html"/>
				</rule>
			</rules>
			<outboundRules>
				<rule name="RewriteDebug" preCondition="ResponseIsHtml1">
					<match filterByTags="None" pattern="(.*)"/>
					<action type="Rewrite" value="{R:1}" />
				</rule>
				<preConditions>
					<preCondition name="ResponseIsHtml1">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html"/>
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
        <aspNetCore>
            <environmentVariables>
                <environmentVariable name="Frontend_AppSettings__Key" value="This is my secret" />
            </environmentVariables>
        </aspNetCore>
    </system.webServer>
</configuration>
